:root {
  --white: #fff;
  --black: #000;
  --brand-dark: #151414;
  --brand-dark-light: #181d19;
  --brand-dark-blue: #2c3847;
  --brand-dark-gray: #657582;
  --brand-middle-gray: #efe2dd;
  --brand-light-gray: #f9f9f9;
  --brand-accent: #85b200;
  --brand-accent-light: #feb618;
  --brand-medium-dark: #494949;
  --brand-link-active: #5fb848;
  --brand-black-new: #3b433e;
  --scale: 0.95;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #fff; /* или цвет фона страницы */
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Poppins", "sans-serif";
  font-size: 18px;
  overflow-x: hidden;
  transform: scale(var(--scale));
  transform-origin: top left;
  width: calc(100% / var(--scale));
  height: calc(100% / var(--scale));
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reset-button {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.header {
  padding: 0;
  margin: 0;
  padding-top: 40px;
  max-width: 1302px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  gap: 160px;
  align-items: center;
}

.header__logo-link {
  max-width: 100px;
}

.header__logo-img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__menu-link {
  font-weight: 400;
  font-size: 20px;
  color: var(--brand-dark-blue);
  opacity: 0.8;
  text-decoration: none;
}

.header__menu-link.active {
  font-weight: 500;
  color: var(--brand-link-active);
}

.header__right {
  display: flex;
  align-items: center;
  margin-right: 0px;
}

.header__search-btn {
  margin-right: 20px;
}

.header__cart-link {
  margin-right: 30px;
  text-decoration: none;
}

.header__order-link {
  font-size: 20px;
  text-align: center;
  color: var(--white);
  text-decoration: none;
  background-color: var(--brand-medium-dark);
  padding: 14px 30px;
  border-radius: 27px;
}

.main {
  overflow: hidden;
  margin-bottom: 50px;
}

.main__sec {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.main__left {
  flex: 1;
  position: relative;
  z-index: 3;
}

.main__zagolovok {
  margin: 0;
  font-weight: 500;
  max-width: 780px;
  font-size: 76px;
  color: var(--brand-dark-light);
  padding-top: 164px;
  padding-left: 145px;
  padding-bottom: 12px;
}

.main__text {
  margin: 0;
  font-size: 24px;
  line-height: 142%;
  color: var(--brand-dark-light);
  max-width: 670px;
  padding-left: 115px;
  padding-bottom: 40px;
}

.btn__btn {
  padding-left: 125px;
}

.section-btn {
  font-size: 20px;
  text-align: center;
  color: var(--white);
  text-decoration: none;
  background: linear-gradient(to top, #18920d, #61c248bb);
  width: 200px;
  height: 64px;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: 0.3s ease;
}

.section-btn:hover {
  background: linear-gradient(to top, #25a71b, #a3f87d);
  transform: translateY(-2px);
}

.highlite {
  color: var(--brand-link-active);
}

.main__bg {
  position: absolute;
  padding-right: 0;
  background-image: url(../img/bg\ elements.png);
  background-position: 32px 45px;
  background-repeat: no-repeat;
  z-index: 0;
}

.main__image {
  padding-left: 605px;
  border-image: 115px;
  width: 786px;
  height: 759px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
}

.main__img {
  position: relative;
  padding-right: 0;
  z-index: 2;
}

.futures {
  position: relative;
  z-index: 3;
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 100px 20px 50px;
}

.futures__top {
  margin-bottom: 60px;
}

.futures__title-1 {
  font-weight: 500;
  font-size: 54px;
  text-align: center;
  color: var(--brand-dark);
  margin-bottom: 15px;
}

.futures__title {
  font-weight: 400;
  font-size: 28px;
  text-align: center;
  color: var(--brand-dark-light);
  margin: 0;
}

.futures__text1 {
  font-size: 24px;
  text-align: center;
  color: var(--brand-black-new);
  margin: 0;
  margin-bottom: 62px;
}

.futures__text {
  font-size: 17px;
  text-align: center;
  color: var(--brand-black-new);
  margin: 0;
  margin-bottom: 60px;
}

.futures__list {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
  max-width: 100%;
}

.futures__list-item {
  max-width: 270px;
  text-align: center;
}

.feat-img,
.feat-live,
.feat-organic {
  margin-bottom: 20px;
}

.start {
  margin: 20px 20px;
}

.start__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

.start__item span:first-child {
  font-size: 48px;
  font-weight: 700;
}

.start__item span:last-child {
  color: var(--brand-dark-gray);
  margin-top: 5px;
}

.start__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  flex-wrap: wrap;
}

.about {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1235px;
  height: auto;
  gap: 69px;
  padding-bottom: 120px;
}

.btn__space {
  margin-bottom: 130px;
}

.about__text {
  width: 500px;
  height: 464px;
}

.about__title {
  font-weight: 500;
  font-size: 54px;
  color: var(--brand-dark);
}

.about__discription {
  font-size: 22px;
  color: var(--brand-dark-light);
  margin-bottom: 64px;
}

.about__image {
  width: 640px;
  display: grid;
  grid-template-columns: 310px 310px;
  gap: 20px;
  grid-template-rows: 323px 323px;
}

.about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.about__image img:nth-child(3) {
  grid-row: 3 / 1;
  grid-column: 2 / 3;
}

.vegs {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1170px;
  min-height: 516px;
  height: auto;
  gap: 95px;
}

.vegs__image {
  width: 585px;
}

.vegs__text {
  width: 516px;
  height: 440px;
}

.vegs__title {
  font-weight: 500;
  margin-top: 0;
  font-size: 54px;
  color: var(--brand-dark);
}

.vegs__discription {
  font-size: 22px;
  line-height: 155%;
  color: var(--brand-dark-light);
  padding-bottom: 40px;
}

.chefs {
  padding-top: 80px;
  max-width: 1248px;
  margin: 0 auto;
  margin-bottom: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.chefs__text {
  max-width: 500px;
}

.chefs__img-wrapper {
  max-width: 650px;
  height: 584px;
}

.chefs__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.chefs__title {
  font-weight: 500;
  font-size: 54px;
  color: #151414;
  margin: 0;
  margin-bottom: 30px;
}

.chefs__desc {
  font-size: 22px;
  line-height: 155%;
  color: #181d19;
  margin: 0;
  margin-bottom: 30px;
}

.the__ptichka {
  margin-right: 19px;
}

.chefs__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.chefs__list-item {
  padding-left: calc(0 17px);
  font-size: 20px;
  color: #181d19;
  position: relative;
  display: flex;
  align-items: center;
}

.chefs__list-item::before {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
}

.sp-dsh {
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 0px;
}

.sp-dsh__titles {
  text-align: center;
  margin-bottom: 0;
}

.sp-dsh__title {
  font-weight: 500;
  font-size: 54px;
  text-align: center;
  color: #151414;
  margin-bottom: 15px;
}

.sp-dsh__text {
  font-size: 24px;
  text-align: center;
  color: #3b433e;
  margin: 0px;
}

.sp-dsh__images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
}

.sp-dsh__images img:nth-child(2) {
  padding-bottom: 29px;
}

.sp-dsh__button {
  text-align: center;
  padding-bottom: 120px;
}

.thelast {
  padding: 0;
  padding-top: 70px;
  background: #fcfcfc;
  width: 1440px;
  margin: 0;
}

.thelast__title {
  font-weight: 500;
  font-size: 54px;
  text-align: center;
  color: #151414;
}

.thelast__images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding-bottom: 50px;
}

.thelast__images img:nth-child(2) {
  padding-bottom: 30px;
}

.aarrows {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 70px;
}

.final__title {
  padding-top: 120px;
  font-weight: 500px;
  font-size: 36px;
  text-align: center;
  color: #151414;
}

.final__text {
  font-size: 24px;
  text-align: center;
  color: #3b433e;
  padding-bottom: 47px;
}

input[type="email"] {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 165px;
  width: 330px;
  height: 60px;
  font-size: 18px;
  color: #8a8a8a;
  margin-right: 15px;
  gap: 20px;
}
.mail {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 150px;
}

.footer {
  padding-bottom: 0;
  margin-bottom: 0;
}

.f-menu {
  padding: 114px 165px 114px 165px;
  width: 1440px;
  background: #fcfcfc;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.f-menu-left {
  max-width: 262px;
}

.f-menu-disc {
  font-size: 16px;
  color: #657582;
  margin-top: 34px;
}

.f-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.f-menu-items {
  font-weight: 500;
  font-size: 22px;
  color: #2c3847;
}

.f-menu-list-items {
  font-size: 16px;
  color: #657582;
  line-height: 1.5;
}

.f-menu-link {
  text-decoration: none;
  color: #657582;
  transition: color 0.3s ease;
}

.f-menu-link:hover {
  color: #2c3847;
}

.footer-end {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #64bb47 0%, #2c9553 100%);
  width: 1440px;
}

.footer-end-text {
  font-size: 16px;
  text-align: center;
  color: #fff;
}
